
<div style="width: 40%" class="container -border">
  <h4 style="text-align: center"> Student Registration form </h4>
  <%= form_tag("/admin/students", method: :post) do %>
    <div class="form-group">
      <input type="text", name="first_name" class="form-control" required="required" placeholder="First name" >
    </div>

    <div class="form-group">
      <input type="text", name="father_name" class="form-control" placeholder="Father's name" >
    </div>

    <div class="form-group">
      <input type="text", name="surname" class="form-control" required="required" placeholder="Surname" >
    </div>

    <div class="form-group">
      <input type="text", name="mother_name" class="form-control" placeholder="Mother's name" >
    </div>


    Gender :
    <div class="radio-inline form-group">
      <label><input type="radio" id = "gender" name = "gender" value = "male" checked = "checked" >Male</label>
    </div>
    <div class="radio-inline">
      <label><input type="radio" id = "gender" name = "gender" value = "female"  >Female</label>
    </div>

    <div class="form-group">
      Date of Birth :
      <input type="date", name="date_of_birth" class="form-control"  required="required" placeholder="Date of Birth">
    </div>

    <div class="form-group">
      <!--Cet general Rank :-->
      <input type="number", name="rank" class="form-control"  required="required" placeholder="Maharashtra State General Rank">
    </div>

    <div class="form-group">
      <!--Composite score-->
      <input type="number", name="composite_score" class="form-control" required="required" placeholder="Composite score">
    </div>

    <div class="form-group">
      Category :
      <%= select_tag 'category', options_for_select(@categories), class: "form-control" %>
    </div>

    <div class="form-group">
      <!--Student Contact no :-->
      <input type="number", name="contact_no" class="form-control" required="required" placeholder="contact no" >
    </div>

    <div class="form-group">
      <!--form-groupParent Contact no :-->
      <input type="number", name="father_contact_no" class="form-control" placeholder="father contact no">
    </div>

    <div class="form-group">
      <!--Student email :-->
      <input type="email", name="email" class="form-control" required="required" placeholder="email">
    </div>

    <div class="form-group">
      Address :
      <textarea name="address" class="form-control" placeholder="address" rows="3"> </textarea>
    </div>

    <div class="form-group">
      <!--Cet Exam no :-->
      <input type="text", name="cet_exam_number" class="form-control"  placeholder="cet_exam_number">
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  <% end %>
</div>


