// Place all the styles related to the admin/analyses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.rounded_div {
  border: 2px solid #a1a1a1;
  padding: 10px 40px;
  background: rgba(236, 233, 233, 0.5);
  border-radius: 25px;
  margin-top: 15px;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}


.toogle-checkboxes {

}
.checkbox_container {
  display: block;
  width: 100%;
  clear: both;
  label {
    font-size: 17px;
  }
}
.region_section {
  label {
    font-size: 17px;
  }
}
.left_pane label {
  font-weight: normal;
}

.form_analysis {
  margin: 15px 0;
}
.section_head {
  text-align: center;
}
@media print {
  .container,
  body {
    margin: 0 !important;
    width: 100% !important;
    padding: 0 !important;
  }
  table thead tr th {
    font-size: 10px;
  }
  table tbody tr td {
    font-size: 10px;
  }
  .link_analysis {
    display: none;
  }
}
